<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="pygments.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {{ content }}
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li>
              Scala
              <ul class="nav">
	        <li><a href="stackless.html">Stackless Scala</a></li>
	        <li><a href="scala_tips.html">Scala Tips</a></li>
	        <li><a href="curry_howard.html">Type and Logic in Scala</a></li>
	        <li><a href="subtyping_in_scala.html">Subtyping in Scala</a></li>
	        <li><a href="codensity.html">Codensity in Scala</a></li>
	        <li><a href="scalaz_stream.html">scalaz-stream</a></li>
	        <li><a href="scala_for_scalaz_programmers.html">Scala for Scalaz programmers</a></li>
	        <li><a href="continuations.html">Continuations and for-comprehension</a></li>
	        <li><a href="typelevel_fizzbuzz.html">Typelevel FizzBuzz in Scala</a></li>
	      </ul>
            </li>
            <li>
              Clojure
              <ul class="nav">
	        <li><a href="evaluator.html">Lisp on Clojure</a></li>
	        <li><a href="typelogic.html">Type inference with logic programming</a></li>
	        <li><a href="monad_in_clojure.html">Monad in Clojure</a></li>
	        <li><a href="core_async.html">core.async</a></li>
	        <li><a href="algo_generic.html">algo.generic</a></li>
	        <li><a href="data_codec.html">data.codec</a></li>
	        <li><a href="clojure_zip.html">clojure.zip</a></li>
	      </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="halcat0x15a" data-lang="ja">ツイート</a>
      </div>
    </footer>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script>
      var tables = document.getElementsByTagName("table");
      for (var i = 0; i < tables.length; i++) {
        tables.item(i).className = "table"
      }
    </script>
  </body>
</html>
